@import '../../../main.scss';

.custom-button {
  background-color: $purple;
  color: $text;
  border-radius: 21px;
  padding: 8px 18px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  width: max-content;
  &:hover {
    background-color: darken($purple, 10%);
  }
}

@media screen and (max-width: 450px) {
  .custom-button {
    background-color: $purple;
    color: $text;
    border-radius: 21px;
    padding: 8px 18px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      background-color: darken($purple, 10%);
    }
  }
}
