@import '../../../main.scss';

.sm-links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  button {
    background-color: $orange;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 99999px;
    cursor: pointer;
    border: 2px solid $green;
    a {
      font-size: 1.2rem;
      color: $green;
    }
    &:hover {
      background-color: $orange;

      transition: 0.5s ease-in-out;
      border: 2px solid $purple;
      a {
        color: $purple;
        font-size: 1.5rem;
        transition: 0.2s ease-in-out;
      }
    }
  }
}
