.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  button {
    background-color: var(--red);
    width: 3rem;
    height: 3rem;
    border-radius: 99999px;
    border: 1px solid var(--white);
    cursor: pointer;
    border: 2px solid var(--white);
    a {
      font-size: 1.5rem;
      color: var(--white);
    }
    &:hover {
      background-color: var(--white);
      width: 3.5rem;
      height: 3.5rem;
      transition: 0.5s ease-in-out;
      border: 2px solid var(--red);
      a {
        color: var(--red);
        font-size: 2rem;
        transition: 0.7s ease-in-out;
      }
    }
  }
}
